<section class="mainContent">
  <h1>Hello fellow developer!</h1>
  <p>
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, nesciunt nam doloribus eum nisi adipisci dolores quisquam blanditiis, est vero laboriosam, magni ad quia quo unde ipsum voluptatum quibusdam ullam!
  </p>
  <p> Lorem ipsum dolor sit amet consectetur</p>
  <div class="buttonSection">
    <button class="btnLabel">Button with a label</button>
    <button class="btnNonLabel">This button looks empty</button>
  </div>
</section>
